@import "fonts.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 1px;
  min-height: 100%;
}
body {
  font-size: 16px;
  line-height: 1.6;
  font-family: MR, sans-serif;
  height: 100%;
  color: #727272;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  transition: all .4s;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  header {
    height: 100px;
  }
}
header.fixed {
  position: fixed;
  background: #060606;
  height: 80px;
}
header.fixed .burgerIco {
  top: 30px;
}
header .logo {
  display: block;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  header .logo {
    height: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  header .logo {
    height: 38px;
  }
}
header .logo img {
  height: 100%;
}
header.dark {
  background: #060606;
}
header .container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  header .container {
    display: flex;
    justify-content: center;
  }
}
header .burgerIco {
  display: none;
  background: transparent;
  border: none;
  position: absolute;
  left: 20px;
  top: 45px;
  transition: all .4s;
}
@media only screen and (max-width: 767px) {
  header .burgerIco {
    display: block;
  }
  header .burgerIco svg {
    width: 32px;
    height: 20px;
  }
}
@media only screen and (max-width: 767px) {
  header nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    right: 0;
    top: 0;
    transition: all .4s;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100;
  }
  header nav ul li a.active {
    text-decoration: underline;
  }
}
nav {
  display: flex;
  justify-content: center;
}
nav.show {
  transform: translateX(0);
}
nav .closeMenu {
  display: none;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}
@media only screen and (max-width: 767px) {
  nav .closeMenu {
    display: flex;
    position: absolute;
    right: 16px;
    top: 12px;
  }
  nav .closeMenu svg {
    width: 21px;
    height: 21px;
  }
}
nav ul {
  display: flex;
  list-style: none;
}
@media only screen and (max-width: 767px) {
  nav ul {
    flex-direction: column;
  }
}
nav ul li {
  padding: 10px 15px;
  margin: 0 5px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  nav ul li {
    padding: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav ul li {
    padding: 10px 5px;
    margin: 0 2px;
  }
}
nav ul li a {
  display: block;
  font-size: 14px;
  color: #fff;
  font-family: MM, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav ul li a {
    font-size: 11px;
  }
}
@media only screen and (max-width: 767px) {
  nav ul li a {
    color: #fb507d;
  }
}
nav ul li a:hover,
nav ul li a.active {
  color: #fb507d;
}
.main-slider-wrap {
  position: relative;
}
.main-slider-wrap:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 0 0 50vw;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}
.main-slider-wrap:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 80px 50vw;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 20;
}
.main-slider-wrap .next-section-btn {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 22;
}
@media only screen and (max-width: 767px) {
  .main-slider-wrap .next-section-btn {
    bottom: -20px;
  }
}
.main-slider {
  height: 100vh;
  width: 100%;
}
.main-slider .item {
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-slider .item:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: all .4s;
}
.main-slider .item:hover {
  outline: none;
}
.main-slider .item:hover:after {
  opacity: 1;
}
.main-slider .item:focus {
  outline: none;
}
.main-slider .item.slide-1 {
  background-image: url('../imgs/slider/slide-1.png');
}
.main-slider .item.slide-2 {
  background-image: url('../imgs/slider/slide-2.png');
}
.main-slider .slick-list,
.main-slider .slick-track {
  height: 100%;
}
.main-slider .slick-arrow {
  width: 45px;
  height: 45px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .4s;
}
@media only screen and (max-width: 767px) {
  .main-slider .slick-arrow {
    display: none;
  }
}
.main-slider .slick-arrow:hover {
  background: #fb507d;
}
.main-slider .slick-arrow:hover i {
  color: #fff;
}
.main-slider .slick-arrow i {
  font-size: 35px;
  line-height: 20px;
  color: #767676;
}
.main-slider .slick-arrow.slick-prev {
  left: 50px;
}
.main-slider .slick-arrow.slick-prev:before {
  content: "\f104";
  font-family: FontAwesome;
}
.main-slider .slick-arrow.slick-next {
  right: 50px;
}
.main-slider .slick-arrow.slick-next:before {
  content: "\f105";
  font-family: FontAwesome;
}
.main-slider .slick-dots {
  bottom: 10%;
}
.main-slider .slick-dots li {
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
  margin: 0 7px;
}
.main-slider .slick-dots li.slick-active {
  background: #6c6c6d;
}
.main-slider .slick-dots li button {
  display: none;
}
.main-slider .text-wrap {
  text-align: center;
  position: relative;
  z-index: 5;
}
.main-slider .sub-ttl {
  font-size: 30px;
  color: #fff;
  font-family: MR, sans-serif;
}
@media only screen and (max-width: 767px) {
  .main-slider .sub-ttl {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.main-slider .ttl {
  font-family: MM, sans-serif;
  font-size: 75px;
  color: #fff;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .main-slider .ttl {
    font-size: 55px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-slider .ttl {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .main-slider .ttl {
    font-size: 35px;
    line-height: 1.2;
  }
}
.main-slider p {
  font-size: 18px;
  line-height: 24px;
  color: #cbc6c0;
  max-width: 50%;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .main-slider p {
    font-size: 14px;
    max-width: 100%;
  }
}
.main-slider .btn {
  margin-top: 90px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .main-slider .btn {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-slider .btn {
    margin-top: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .main-slider .btn {
    margin-top: 60px;
  }
}
.next-section-btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #f4f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .next-section-btn {
    width: 32px;
    height: 32px;
  }
}
.next-section-btn:hover:before {
  opacity: 1;
}
.next-section-btn:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fb507d;
}
@media only screen and (max-width: 767px) {
  .next-section-btn:after {
    width: 10px;
    height: 10px;
  }
}
.next-section-btn:before {
  content: '';
  display: block;
  opacity: 0;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  left: -5px;
  top: -5px;
  transition: all .4s;
}
.btn {
  height: 55px;
  line-height: 51px;
  padding: 0 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-family: MB, sans-serif;
  border-radius: 2px;
  background: #fb507d;
  border: 2px solid #fb507d;
  transition: all 0.4s;
  cursor: pointer;
  display: inline-block;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .btn {
    height: 44px;
    line-height: 43px;
    font-size: 14px;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  .btn {
    padding: 0 10px;
  }
}
.btn:hover {
  background: transparent;
  color: #fb507d;
}
.btn-mini {
  border-radius: 4px;
  border: 2px solid #8e8f98;
  height: 50px;
  display: inline-block;
  line-height: 48px;
  padding: 0 40px;
  text-transform: uppercase;
  color: #fb507d;
  font-family: MB, sans-serif;
  font-size: 15px;
  transition: all .4s;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .btn-mini {
    padding: 0 20px;
  }
}
.btn-mini:hover {
  background: #fb507d;
  color: #fff;
}
.hr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0 45px;
}
@media only screen and (max-width: 767px) {
  .hr {
    margin: 25px 0 60px;
  }
}
.hr span {
  width: 7px;
  height: 7px;
  background: #fb507d;
  border-radius: 50%;
  position: relative;
  display: block;
}
@media only screen and (max-width: 767px) {
  .hr span {
    width: 6px;
    height: 6px;
  }
}
.hr span:before,
.hr span:after {
  content: '';
  display: block;
  height: 1px;
  width: 80px;
  background: #fff;
  position: absolute;
  top: 50%;
}
@media only screen and (max-width: 767px) {
  .hr span:before,
  .hr span:after {
    width: 64px;
  }
}
.hr span:before {
  margin-right: 14px;
  right: 100%;
}
.hr span:after {
  margin-left: 14px;
  left: 100%;
}
section {
  padding: 90px 0;
}
@media only screen and (max-width: 767px) {
  section {
    padding: 20px 0;
  }
}
section.bb {
  border-bottom: 1px solid #e6e7eb;
}
section.bg-dark {
  background: #3d3e4e;
  color: #fff;
}
section.bg-gray {
  background: #f4f5f9;
}
section.img-abs {
  position: relative;
}
section.img-abs .img-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media only screen and (max-width: 767px) {
  section.img-abs .img-wrap {
    position: relative;
    right: auto;
    bottom: auto;
  }
}
section.img-abs .img-wrap img {
  display: block;
}
section .title-wrap {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  section .title-wrap {
    max-width: 100%;
  }
}
section .title-wrap p {
  color: #888787;
  font-family: MM, sans-serif;
}
@media only screen and (max-width: 767px) {
  section .title-wrap p {
    font-size: 14px;
  }
}
section .section-ttl {
  font-family: MM, sans-serif;
  font-size: 48px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 25px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  section .section-ttl {
    font-size: 35px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  section .section-ttl {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  section .section-ttl {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
section .section-ttl.select-left {
  position: relative;
  padding-left: 36px;
  line-height: 36px;
}
@media only screen and (max-width: 767px) {
  section .section-ttl.select-left {
    padding-left: 0;
    text-align: center;
  }
}
section .section-ttl.select-left:before {
  content: '';
  display: block;
  width: 6px;
  height: 100%;
  background: #fb507d;
  position: absolute;
  left: 0;
  top: 0;
}
@media only screen and (max-width: 767px) {
  section .section-ttl.select-left:before {
    display: none;
  }
}
section .section-ttl.select-right {
  position: relative;
  padding-right: 36px;
  line-height: 36px;
}
@media only screen and (max-width: 767px) {
  section .section-ttl.select-right {
    padding-right: 0;
    text-align: center;
  }
}
section .section-ttl.select-right:before {
  content: '';
  display: block;
  width: 6px;
  height: 100%;
  background: #fb507d;
  position: absolute;
  right: 0;
  top: 0;
}
@media only screen and (max-width: 767px) {
  section .section-ttl.select-right:before {
    display: none;
  }
}
section .section-ttl-sub {
  font-family: MM, sans-serif;
  font-size: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  section .section-ttl-sub {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  section .section-ttl-sub {
    font-size: 18px;
    color: #fb507d;
  }
}
section .hr {
  margin: 25px 0 45px;
}
@media only screen and (max-width: 767px) {
  section .hr {
    margin: 30px 0;
  }
}
section .hr span:before,
section .hr span:after {
  background: #727272;
}
.promo-wrap {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .promo-wrap {
    flex-wrap: wrap;
  }
}
.promo-wrap .item {
  padding: 0 15px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .promo-wrap .item {
    width: 50%;
    margin-bottom: 35px;
  }
}
.promo-wrap .item .ico {
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  .promo-wrap .item .ico {
    margin-bottom: 10px;
  }
  .promo-wrap .item .ico img {
    width: 66px;
    height: 66px;
    display: block;
    margin: 0 auto;
  }
}
.promo-wrap .item .ttl {
  font-family: MB, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .promo-wrap .item .ttl {
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .promo-wrap .item .ttl {
    font-size: 10px;
  }
}
.promo-wrap .item .ttl.accent {
  color: #fb507d;
}
.promo-wrap .item .hrm {
  width: 40px;
  height: 1px;
  background: #888;
  margin: 15px auto;
}
@media only screen and (max-width: 767px) {
  .promo-wrap .item .hrm {
    margin: 10px auto;
    width: 20px;
  }
}
.promo-wrap .item p {
  font-size: 12px;
  margin: 0;
}
.half-wrap {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .half-wrap {
    flex-direction: column;
  }
}
.half-wrap .img-wrap,
.half-wrap .text-wrap {
  width: 50%;
  padding: 0 25px;
}
@media only screen and (max-width: 767px) {
  .half-wrap .img-wrap,
  .half-wrap .text-wrap {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .half-wrap .img-wrap img,
  .half-wrap .text-wrap img {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .half-wrap .img-wrap {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .half-wrap .text-wrap {
    text-align: center;
  }
}
.half-wrap .list-wrap {
  list-style: none;
}
@media only screen and (max-width: 767px) {
  .half-wrap .list-wrap {
    margin-bottom: 60px;
  }
}
.half-wrap .list-wrap li {
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  .half-wrap .list-wrap li {
    text-align: center;
    margin-bottom: 95px;
  }
}
.half-wrap .list-wrap li .ttl {
  font-size: 18px;
  color: #fb507d;
  font-family: MM, sans-serif;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .half-wrap .list-wrap li .ttl {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .half-wrap .list-wrap li .ttl {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.half-wrap .list-wrap li p {
  margin: 0;
  font-size: 16px;
  color: #767676;
  font-family: MM, sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .half-wrap .list-wrap li p {
    font-size: 14px;
  }
}
.half-wrap.right-position {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .half-wrap.right-position {
    text-align: center;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 767px) {
  .half-wrap.right-position .img-wrap {
    position: relative;
  }
  .half-wrap.right-position .img-wrap:after {
    content: '';
    display: block;
    position: absolute;
    left: -15px;
    right: -15px;
    top: -20px;
    bottom: 0;
    background: #fff;
    z-index: 1;
    border-top: 1px solid #e6e7eb;
  }
}
@media only screen and (max-width: 767px) {
  .half-wrap.right-position .img-wrap img {
    position: relative;
    z-index: 2;
  }
}
.half-wrap.right-position .section-ttl {
  text-align: right;
  padding: 0 36px 0 0;
}
@media only screen and (max-width: 767px) {
  .half-wrap.right-position .section-ttl {
    padding: 0;
    text-align: center;
  }
}
.half-wrap.right-position .section-ttl:before {
  left: auto;
  right: 0;
}
@media only screen and (max-width: 767px) {
  .half-wrap.right-position .section-ttl:before {
    display: none;
  }
}
.half-wrap.right-position .list-wrap li {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .half-wrap.right-position .list-wrap li {
    text-align: center;
  }
}
.half-wrap.right-position .list-wrap li p {
  color: #fff;
}
.half-wrap .slick-dots {
  bottom: 0;
}
.half-wrap .slick-dots li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #b5b4b4;
  margin: 0 15px;
}
.half-wrap .slick-dots li.slick-active {
  background: #fb507d;
}
.half-wrap .slick-dots li button {
  display: none;
}
.section-map {
  padding: 15px 0;
  border-top: 1px solid #959596;
  border-bottom: 1px solid #959596;
}
@media only screen and (max-width: 767px) {
  .section-map {
    padding: 10px 0;
  }
}
.section-map .map {
  height: 450px;
}
.section-map .map iframe {
  width: 100%;
}
.section-contact {
  background: #f4f5f9;
  padding: 30px 70px;
}
@media only screen and (max-width: 767px) {
  .section-contact {
    padding: 15px 0;
  }
}
.section-contact .container {
  max-width: 980px;
}
.section-contact ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media only screen and (max-width: 767px) {
  .section-contact ul {
    flex-direction: column;
  }
}
.section-contact ul li {
  padding: 0 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-contact ul li {
    padding: 0 5px;
  }
}
@media only screen and (max-width: 767px) {
  .section-contact ul li {
    padding: 0;
    margin-bottom: 35px;
    text-align: center;
  }
}
.section-contact ul .ttl {
  font-family: MB, sans-serif;
  font-size: 24px;
  color: #565555;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-contact ul .ttl {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .section-contact ul .ttl {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.section-contact ul p,
.section-contact ul a {
  font-size: 18px;
  color: #999;
  display: block;
  text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-contact ul p,
  .section-contact ul a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .section-contact ul p,
  .section-contact ul a {
    font-size: 16px;
  }
}
.section-contact ul a:hover {
  text-decoration: underline;
}
.section-contact ul a:visited,
.section-contact ul a:active {
  color: #999;
}
footer {
  background: #202020;
  height: 120px;
  padding: 15px 0;
  position: relative;
}
@media only screen and (max-width: 767px) {
  footer {
    height: auto;
    padding: 50px 0 30px;
  }
}
footer .container {
  display: grid;
  grid-template-columns: auto 1fr;
}
@media only screen and (max-width: 767px) {
  footer .container {
    display: flex;
    flex-direction: column-reverse;
  }
  footer .container nav {
    display: flex;
    margin-bottom: 50px;
  }
  footer .container nav ul li {
    text-align: center;
  }
  footer .container nav ul li a {
    color: #fff;
  }
  footer .container nav ul li a.active {
    color: #fb507d;
  }
}
footer .logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  footer .logo {
    justify-content: center;
  }
}
footer .logo span {
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
}
footer .upBtn {
  width: 50px;
  height: 50px;
  background: #fb507d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 50px;
  top: -25px;
  cursor: pointer;
  transition: all 0.4s;
  text-decoration: none;
}
footer .upBtn:hover {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
}
footer .upBtn i {
  color: #fff;
  font-size: 20px;
}
.inner-wrapper {
  padding: 190px 0 70px;
}
@media only screen and (max-width: 767px) {
  .inner-wrapper {
    padding: 120px 0 50px;
  }
}
.inner-wrapper h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-family: MR, sans-serif;
  font-weight: normal;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .inner-wrapper h1 {
    font-size: 35px;
  }
}
.inner-wrapper h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: MR, sans-serif;
  font-weight: normal;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .inner-wrapper h2 {
    font-size: 25px;
  }
}
.inner-wrapper h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: MR, sans-serif;
  font-weight: normal;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .inner-wrapper h3 {
    font-size: 21px;
  }
}
.inner-wrapper h4 {
  font-family: MM, sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .inner-wrapper h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.inner-wrapper p {
  font-size: 18px;
  font-family: MR, sans-serif;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .inner-wrapper p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.inner-wrapper ul {
  padding-left: 20px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .inner-wrapper ul {
    margin-bottom: 15px;
  }
}
.inner-wrapper ul li {
  font-size: 18px;
  font-family: MR, sans-serif;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .inner-wrapper ul li {
    font-size: 16px;
  }
}
.inner-wrapper .text-center {
  text-align: center;
}
.inner-wrapper .float-left {
  float: left;
  margin-right: 20px;
}
@media only screen and (max-width: 767px) {
  .inner-wrapper .float-left {
    float: none;
    display: block;
    margin: 0 auto 15px;
  }
}
.inner-wrapper .float-right {
  float: right;
  margin-left: 20px;
}
@media only screen and (max-width: 767px) {
  .inner-wrapper .float-right {
    float: none;
    display: block;
    margin: 0 auto 15px;
  }
}
.inner-wrapper img.center {
  display: block;
  margin: 0 auto 15px;
}
.form-section .section-ttl {
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .form-section .section-ttl {
    margin-bottom: 15px;
  }
}
.form-section .section-ttl-sub {
  margin-bottom: 10px;
  color: #999;
}
@media only screen and (max-width: 767px) {
  .form-section .section-ttl-sub {
    color: #fb507d;
    margin-bottom: 15px;
  }
}
.form-section .title-wrap {
  margin-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .form-section .title-wrap {
    margin-bottom: 0;
  }
}
.form-section .title-wrap p {
  max-width: 60%;
  margin: 0 auto 20px;
  color: #999;
}
@media only screen and (max-width: 767px) {
  .form-section .title-wrap p {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
.formWrap {
  max-width: 415px;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .formWrap {
    padding: 0 15px;
  }
}
.formWrap .form-group {
  margin-bottom: 25px;
}
.formWrap .form-group .txt {
  height: 44px;
  border: 2px solid #fb507d;
  border-radius: 15px;
  padding: 0 25px;
  background: transparent;
  width: 100%;
  font-size: 14px;
  font-family: MM, sans-serif;
}
.formWrap .form-group .txt:focus {
  outline: none;
}
@media only screen and (max-width: 767px) {
  .formWrap .form-group .txt {
    border-width: 1px;
    padding: 0 10px;
    font-size: 10px;
  }
}
.formWrap .form-group .txt::-webkit-input-placeholder,
.formWrap .form-group .txt:-moz-placeholder,
.formWrap .form-group .txt::placeholder {
  color: #999;
}
.formWrap .form-group textarea.txt {
  height: 150px;
  resize: none;
  padding: 15px 25px;
}
.checkbox-button {
  position: relative;
  text-align: center;
}
.checkbox-button label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.checkbox-button label .label-input {
  font-size: 14px;
  line-height: normal;
  font-family: MM, sans-serif;
  color: #fb507d;
  width: auto;
  min-height: 16px;
  display: inline-block;
  margin-left: 45px;
}
@media only screen and (max-width: 767px) {
  .checkbox-button label .label-input {
    font-size: 12px;
  }
}
.checkbox-button label .label-input a {
  color: #fb507d;
}
.checkbox-button label span:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  border: 1px solid #fb507d;
  background-color: #fb507d;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
.checkbox-button label span:before {
  content: '';
  display: block;
  width: 11px;
  height: 7px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-radius: 1px;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: all .4s;
  transform: translate(0, -300%) rotate(-45deg);
  z-index: 2;
}
.checkbox-button input[type=checkbox],
.checkbox-button input[type=radio] {
  display: inline;
  cursor: pointer;
  position: relative;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  transition: all .4s;
  overflow: hidden;
}
.checkbox-button input[type=checkbox]:checked + span:before,
.checkbox-button input[type=radio]:checked + span:before {
  transform: translate(0, 0) rotate(-45deg);
}
