@white: #fff;
@accent: #fb507d;
@gray-accent: #767676;
@gray-text: #727272;
@bg: #3d3e4e;
@bgLight: #f4f5f9;
@light-text: #999;
@import "fonts.css";

@MR: MR, sans-serif;
@MM: MM, sans-serif;
@MB: MB, sans-serif;
@ML: ML, sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 1px;
  min-height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: @MR;
  height: 100%;
  color: @gray-text;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  transition: all .4s;

  @media @tablet, @mobile {
    height: 100px;
  }

  @media @mobile {

  }

  &.fixed {
    position: fixed;
    background: #060606;
    height: 80px;

    .burgerIco {
      top: 30px;
    }
  }

  .logo {
    display: block;
    @media @desktop {
      height: 40px;
    }

    @media @tablet, @mobile {
      height: 38px;
    }

    img {
      height: 100%;
    }
  }

  &.dark {
    background: #060606;
  }

  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    height: 100%;

    @media @mobile {
      display: flex;
      justify-content: center;
    }
  }

  .burgerIco {
    display: none;
    background: transparent;
    border: none;
    position: absolute;
    left: 20px;
    top: 45px;
    transition: all .4s;
    @media @mobile {
      svg {
        width: 32px;
        height: 20px;
      }

      display: block;
    }
  }

  nav {
    @media @mobile {
      position: fixed;
      width: 100%;
      height: 100%;
      background: @white;
      right: 0;
      top: 0;
      transition: all .4s;
      transform: translateX(-100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 100;

      ul {
        li {
          a {
            &.active {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

nav {
  display: flex;
  justify-content: center;

  &.show {
    transform: translateX(0);
  }

  .closeMenu {
    display: none;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;

    @media @mobile {
      display: flex;
      position: absolute;
      right: 16px;
      top: 12px;
      svg {
        width: 21px;
        height: 21px;
      }
    }
  }


  ul {
    display: flex;
    list-style: none;

    @media @mobile {
      flex-direction: column;
    }

    li {
      padding: 10px 15px;
      margin: 0 5px;

      @media @desktop {
        padding: 10px;
      }

      @media @tablet {
        padding: 10px 5px;
        margin: 0 2px;
      }

      a {
        display: block;
        font-size: 14px;
        color: @white;
        font-family: @MM;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.4s;

        @media @tablet {
          font-size: 11px;
        }

        @media @mobile {
          color: @accent;
        }

        &:hover, &.active {
          color: @accent;
        }
      }
    }
  }

}

.main-slider-wrap {
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 0 0 50vw;
    border-color: transparent transparent transparent @white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
  }

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 80px 50vw;
    border-color: transparent transparent @white transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 20;
  }

  .next-section-btn {
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 22;

    @media @mobile {
      bottom: -20px;
    }
  }
}

.main-slider {
  height: 100vh;
  width: 100%;

  .item {
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .65);
      opacity: 0;
      transition: all .4s;
    }

    &:hover {
      outline: none;

      &:after {
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
    }

    &.slide-1 {
      background-image: url('../imgs/slider/slide-1.png');
    }

    &.slide-2 {
      background-image: url('../imgs/slider/slide-2.png');
    }
  }

  .slick-list, .slick-track {
    height: 100%;
  }

  .slick-arrow {
    width: 45px;
    height: 45px;
    border-radius: 2px;
    background: rgba(255, 255, 255, .2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .4s;

    @media @mobile {
      display: none;
    }

    &:hover {
      background: @accent;

      i {
        color: @white;
      }
    }

    i {
      font-size: 35px;
      line-height: 20px;
      color: @gray-accent;
    }

    &.slick-prev {
      left: 50px;

      &:before {
        content: "\f104";
        font-family: FontAwesome;
      }
    }

    &.slick-next {
      right: 50px;

      &:before {
        content: "\f105";
        font-family: FontAwesome;
      }
    }
  }

  .slick-dots {
    bottom: 10%;

    li {
      width: 21px;
      height: 21px;
      background: @white;
      border-radius: 50%;
      margin: 0 7px;

      &.slick-active {
        background: #6c6c6d;
      }

      button {
        display: none;
      }
    }
  }

  .text-wrap {
    text-align: center;
    position: relative;
    z-index: 5;
  }

  .sub-ttl {
    font-size: 30px;
    color: @white;
    font-family: @MR;

    @media @mobile {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  .ttl {
    font-family: @MM;
    font-size: 75px;
    color: @white;

    @media @desktop {
      font-size: 55px;
    }
    @media @tablet {
      font-size: 40px;
    }

    @media @mobile {
      font-size: 35px;
      line-height: 1.2;
    }
  }

  p {
    font-size: 18px;
    line-height: 24px;
    color: #cbc6c0;

    max-width: 50%;
    margin: 0 auto;

    @media @mobile {
      font-size: 14px;
      max-width: 100%;
    }
  }

  .btn {
    margin-top: 90px;
    @media @desktop {
      margin-top: 50px;
    }
    @media @tablet {
      margin-top: 35px;
    }
    @media @mobile {
      margin-top: 60px;
    }
  }

}

.next-section-btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #f4f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  @media @mobile {
    width: 32px;
    height: 32px;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: @accent;
    @media @mobile {
      width: 10px;
      height: 10px;
    }
  }

  &:before {
    content: '';
    display: block;
    opacity: 0;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .25);
    position: absolute;
    left: -5px;
    top: -5px;
    transition: all .4s;
  }
}

.btn {
  height: 55px;
  line-height: 51px;
  padding: 0 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: @white;
  font-family: @MB;
  border-radius: 2px;
  background: @accent;
  border: 2px solid @accent;
  transition: all 0.4s;
  cursor: pointer;
  display: inline-block;

  @media @tablet, @mobile {
    height: 44px;
    line-height: 43px;
    font-size: 14px;
    padding: 0 20px;
  }

  @media @mobile {
    padding: 0 10px;
  }

  &:hover {
    background: transparent;
    color: @accent;
  }
}

.btn-mini {
  border-radius: 4px;
  border: 2px solid #8e8f98;
  height: 50px;
  display: inline-block;
  line-height: 48px;
  padding: 0 40px;
  text-transform: uppercase;
  color: @accent;
  font-family: @MB;
  font-size: 15px;
  transition: all .4s;
  cursor: pointer;

  @media @mobile {
    padding: 0 20px;
  }

  &:hover {
    background: @accent;
    color: @white;
  }
}

.hr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0 45px;

  @media @mobile {
    margin: 25px 0 60px;
  }

  span {
    width: 7px;
    height: 7px;
    background: @accent;
    border-radius: 50%;
    position: relative;
    display: block;

    @media @mobile {
      width: 6px;
      height: 6px;
    }

    &:before, &:after {
      content: '';
      display: block;
      height: 1px;
      width: 80px;
      background: @white;
      position: absolute;
      top: 50%;

      @media @mobile {
        width: 64px;
      }
    }

    &:before {
      margin-right: 14px;
      right: 100%;
    }

    &:after {
      margin-left: 14px;
      left: 100%;
    }
  }


}

section {
  padding: 90px 0;

  @media @mobile {
    padding: 20px 0;
  }

  &.bb {
    border-bottom: 1px solid #e6e7eb;
  }

  &.bg-dark {
    background: @bg;
    color: @white;
  }

  &.bg-gray {
    background: @bgLight;
  }

  &.img-abs {
    position: relative;

    .img-wrap {
      position: absolute;
      right: 0;
      bottom: 0;

      @media @mobile {
        position: relative;
        right: auto;
        bottom: auto;
      }

      img {
        display: block;
      }
    }
  }

  .title-wrap {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    @media @mobile {
      max-width: 100%;
    }

    p {
      color: #888787;
      font-family: @MM;

      @media @mobile {
        font-size: 14px;
      }
    }
  }

  .section-ttl {
    font-family: @MM;
    font-size: 48px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 25px;

    @media @desktop {
      font-size: 35px;
    }

    @media @tablet {
      font-size: 30px;
    }

    @media @mobile {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &.select-left {
      position: relative;
      padding-left: 36px;
      line-height: 36px;

      @media @mobile {
        padding-left: 0;
        text-align: center;
      }

      &:before {
        content: '';
        display: block;
        width: 6px;
        height: 100%;
        background: @accent;
        position: absolute;
        left: 0;
        top: 0;

        @media @mobile {
          display: none;
        }
      }
    }

    &.select-right {
      position: relative;
      padding-right: 36px;
      line-height: 36px;

      @media @mobile {
        padding-right: 0;
        text-align: center;
      }

      &:before {
        content: '';
        display: block;
        width: 6px;
        height: 100%;
        background: @accent;
        position: absolute;
        right: 0;
        top: 0;

        @media @mobile {
          display: none;
        }
      }
    }
  }

  .section-ttl-sub {
    font-family: @MM;
    font-size: 30px;

    @media @tablet {
      font-size: 24px;
    }

    @media @mobile {
      font-size: 18px;
      color: @accent;
    }
  }

  .hr {
    margin: 25px 0 45px;

    @media @mobile {
      margin: 30px 0;
    }

    span {
      &:before, &:after {
        background: @gray-text;
      }
    }
  }
}

.promo-wrap {
  display: flex;

  @media @mobile {
    flex-wrap: wrap;
  }

  .item {
    padding: 0 15px;
    text-align: center;

    @media @mobile {
      width: 50%;
      margin-bottom: 35px;
    }

    .ico {
      margin-bottom: 15px;

      @media @mobile {
        margin-bottom: 10px;

        img {
          width: 66px;
          height: 66px;
          display: block;
          margin: 0 auto;
        }
      }
    }

    .ttl {
      font-family: @MB;
      font-size: 16px;
      text-transform: uppercase;

      @media @tablet {
        font-size: 13px;
      }

      @media @mobile {
        font-size: 10px;
      }

      &.accent {
        color: @accent;
      }
    }

    .hrm {
      width: 40px;
      height: 1px;
      background: #888;
      margin: 15px auto;

      @media @mobile {
        margin: 10px auto;
        width: 20px;
      }
    }

    p {
      font-size: 12px;
      margin: 0;
    }
  }
}

.half-wrap {
  display: flex;

  @media @mobile {
    flex-direction: column;
  }

  .img-wrap, .text-wrap {
    width: 50%;
    padding: 0 25px;

    @media @mobile {
      width: 100%;
      padding: 0;
    }

    img {
      @media @desktop, @tablet, @mobile {
        width: 100%;
      }
    }
  }

  .img-wrap {
    @media @mobile {
      margin-bottom: 30px;
    }
  }

  .text-wrap {
    @media @mobile {
      text-align: center;
    }
  }

  .list-wrap {
    list-style: none;

    @media @mobile {
      margin-bottom: 60px;
    }

    li {
      margin-bottom: 50px;

      @media @mobile {
        text-align: center;
        margin-bottom: 95px;
      }

      .ttl {
        font-size: 18px;
        color: @accent;
        font-family: @MM;
        text-transform: uppercase;

        @media @tablet {
          font-size: 16px;
        }

        @media @mobile {
          font-size: 16px;
          margin-bottom: 30px;
        }
      }

      p {
        margin: 0;
        font-size: 16px;
        color: @gray-accent;
        font-family: @MM;

        @media @tablet, @mobile {
          font-size: 14px;
        }
      }
    }
  }

  &.right-position {
    text-align: right;

    @media @mobile {
      text-align: center;
      flex-direction: column-reverse;
    }

    .img-wrap {
      @media @mobile {
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: -15px;
          right: -15px;
          top: -20px;
          bottom: 0;
          background: @white;
          z-index: 1;
          border-top: 1px solid #e6e7eb;
        }
      }

      img {
        @media @mobile {
          position: relative;
          z-index: 2;
        }
      }
    }

    .section-ttl {
      text-align: right;
      padding: 0 36px 0 0;

      @media @mobile {
        padding: 0;
        text-align: center;
      }

      &:before {
        left: auto;
        right: 0;

        @media @mobile {
          display: none;
        }
      }
    }

    .list-wrap {
      li {
        text-align: right;

        @media @mobile {
          text-align: center;
        }

        p {
          color: @white;
        }
      }
    }
  }

  .slick-dots {
    bottom: 0;

    li {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #b5b4b4;
      margin: 0 15px;

      &.slick-active {
        background: @accent;
      }

      button {
        display: none;
      }
    }
  }
}

.section-map {
  padding: 15px 0;
  border-top: 1px solid #959596;
  border-bottom: 1px solid #959596;

  @media @mobile {
    padding: 10px 0;
  }

  .map {
    height: 450px;

    iframe {
      width: 100%;
    }
  }
}

.section-contact {
  background: #f4f5f9;
  padding: 30px 70px;

  @media @mobile {
    padding: 15px 0;
  }

  .container {
    max-width: 980px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

    @media @mobile {
      flex-direction: column;
    }

    li {
      padding: 0 15px;

      @media @tablet {
        padding: 0 5px;
      }
      @media @mobile {
        padding: 0;
        margin-bottom: 35px;
        text-align: center;
      }
    }

    .ttl {
      font-family: @MB;
      font-size: 24px;
      color: #565555;
      margin-bottom: 20px;
      text-transform: uppercase;

      @media @tablet {
        font-size: 18px;
      }

      @media @mobile {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    p, a {
      font-size: 18px;
      color: @light-text;
      display: block;
      text-decoration: none;

      @media @tablet {
        font-size: 15px;
      }

      @media @mobile {
        font-size: 16px;
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    a:visited, a:active {
      color: @light-text;
    }
  }
}

footer {
  background: #202020;
  height: 120px;
  padding: 15px 0;
  position: relative;

  @media @mobile {
    height: auto;
    padding: 50px 0 30px;
  }

  .container {
    display: grid;
    grid-template-columns: auto 1fr;

    @media @mobile {
      display: flex;
      flex-direction: column-reverse;

      nav {
        display: flex;
        margin-bottom: 50px;

        ul {
          li {
            text-align: center;

            a {
              color: @white;

              &.active {
                color: @accent;
              }
            }
          }
        }
      }
    }
  }

  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;

    @media @mobile {
      justify-content: center;
    }

    span {
      font-size: 14px;
      color: @white;
      margin-left: 10px;
    }
  }

  .upBtn {
    width: 50px;
    height: 50px;
    background: @accent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50px;
    top: -25px;
    cursor: pointer;
    transition: all 0.4s;
    text-decoration: none;

    &:hover {
      box-shadow: 1px 3px 3px rgba(0, 0, 0, .4);
    }

    i {
      color: @white;
      font-size: 20px;
    }
  }
}

.inner-wrapper {
  padding: 190px 0 70px;

  @media @mobile {
    padding: 120px 0 50px;
  }

  h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-family: @MR;
    font-weight: normal;
    text-align: center;

    @media @mobile {
      font-size: 35px;
    }
  }

  h2 {
    font-size: 35px;
    text-transform: uppercase;
    font-family: @MR;
    font-weight: normal;
    text-align: center;

    @media @mobile {
      font-size: 25px;
    }
  }

  h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: @MR;
    font-weight: normal;
    text-align: center;

    @media @mobile {
      font-size: 21px;
    }
  }

  h4 {
    font-family: @MM;
    font-size: 30px;
    margin-bottom: 30px;

    @media @mobile {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 18px;
    font-family: @MR;
    margin-bottom: 20px;

    @media @mobile {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  ul {
    padding-left: 20px;
    margin-bottom: 30px;

    @media @mobile {
      margin-bottom: 15px;
    }

    li {
      font-size: 18px;
      font-family: @MR;
      margin-bottom: 5px;

      @media @mobile {
        font-size: 16px;
      }
    }
  }

  .text-center {
    text-align: center;
  }

  .float-left {
    float: left;
    margin-right: 20px;

    @media @mobile {
      float: none;
      display: block;
      margin: 0 auto 15px;
    }
  }

  .float-right {
    float: right;
    margin-left: 20px;

    @media @mobile {
      float: none;
      display: block;
      margin: 0 auto 15px;
    }
  }

  img.center {
    display: block;
    margin: 0 auto 15px;
  }
}

.form-section {
  .section-ttl {
    margin-bottom: 0;

    @media @mobile {
      margin-bottom: 15px;
    }
  }

  .section-ttl-sub {
    margin-bottom: 10px;
    color: @light-text;

    @media @mobile {
      color: @accent;
      margin-bottom: 15px;
    }
  }

  .title-wrap {
    margin-bottom: 60px;

    @media @mobile {
      margin-bottom: 0;
    }

    p {
      max-width: 60%;
      margin: 0 auto 20px;
      color: @light-text;

      @media @mobile {
        max-width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}

.formWrap {
  max-width: 415px;
  margin: 0 auto;
  text-align: center;

  @media @mobile {
    padding: 0 15px;
  }

  .form-group {
    margin-bottom: 25px;

    .txt {
      height: 44px;
      border: 2px solid @accent;
      border-radius: 15px;
      padding: 0 25px;
      background: transparent;
      width: 100%;
      font-size: 14px;
      font-family: @MM;

      &:focus {
        outline: none;
      }

      @media @mobile {
        border-width: 1px;
        padding: 0 10px;
        font-size: 10px;
      }

      &::-webkit-input-placeholder, &:-moz-placeholder, &::placeholder {
        color: @light-text;
      }
    }

    textarea.txt {
      height: 150px;
      resize: none;
      padding: 15px 25px;
    }
  }
}

.checkbox-button {
  position: relative;
  text-align: center;
  //margin-bottom: 3px;

  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0;

    .label-input {
      font-size: 14px;
      line-height: normal;
      font-family: @MM;
      color: @accent;
      width: auto;
      min-height: 16px;
      display: inline-block;
      margin-left: 45px;

      @media @mobile {
        font-size: 12px;
      }

      a {
        color: @accent;
      }
    }

    span {
      &:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        margin: 0;
        border: 1px solid @accent;
        background-color: @accent;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
      }

      &:before {
        content: '';
        display: block;
        width: 11px;
        height: 7px;
        border-left: 3px solid @white;
        border-bottom: 3px solid @white;
        border-radius: 1px;
        position: absolute;
        top: 3px;
        left: 3px;
        transition: all .4s;
        transform: translate(0, -300%) rotate(-45deg);
        z-index: 2;
      }
    }
  }

  input[type=checkbox],
  input[type=radio] {
    display: inline;
    cursor: pointer;
    position: relative;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    transition: all .4s;
    overflow: hidden;
  }

  input[type=checkbox]:checked + span:before,
  input[type=radio]:checked + span:before {
    transform: translate(0, 0) rotate(-45deg);
  }
}


@mobile-xs: ~"only screen and (max-width: 480px)";
@mobile: ~"only screen and (max-width: 767px)";
@tablet: ~"only screen and (min-width: 768px) and (max-width: 1023px)";
@desktop: ~"only screen and (min-width: 1024px) and (max-width: 1366px)";
@desktop-xl: ~"only screen and (min-width: 1367px) and (max-width: 1680px)";
