@font-face {
  font-family: MR;
  src: url('fonts/Montserrat-Regular/Montserrat-Regular.otf');
  src: local(""), url('fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MM;
  src: url('fonts/Montserrat-Medium/Montserrat-Medium.otf');
  src: local(""), url('fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MB;
  src: url('fonts/Montserrat-Bold/Montserrat-Bold.otf');
  src: local(""), url('fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ML;
  src: url('fonts/Montserrat-Light/Montserrat-Light.otf');
  src: local(""), url('fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
